/* OVERALL */

body{
    margin: 0px;
}

@font-face {
    font-family: 'Texas Tango';
    src: url(Fonts/TEXAT\ BOLD\ PERSONAL\ USE___.otf);
}

@font-face {
    font-family: 'California';
    src: url(Fonts/California\ by\ Dirt2.otf);
}

@keyframes bgscroll{
    from{
        transform: translateY(calc(-1 * var(--scroll) / 15));
    }
    to{
        transform: translateY(0);
    }
}

/* TEXT 968  60 var(--scroll)*/

h1{
    margin: 0px; 
    font-family: Consolas, monaco, monospace;
    font-weight: 100;
    color: white;
    white-space: nowrap;
}

h3{
    margin-top: 30px;
    margin-bottom: 0px; 
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;  
    color: hsl(0, 0%, 80%);      
}

/* INTROBOX */

.introbox{
    display: flex;
    position: relative;
    justify-content: center;
    height: min-content;
}

.vidbox{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: 8B0000;
    overflow: hidden;
    z-index: -1;
}

.bgvid{
    height: auto;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    opacity: 25%;
}

.title{
    display: grid;
    grid-template-columns: auto min-content auto;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 1vw;
    overflow: hidden;
    max-width: 100%;
}

.toptitle, .titletext{
    display: flex;
    justify-self: center;
    align-self: center;
}

.toptitle{
    font-size: clamp(0px, 1.5vw, 15px);
}

.titletext{
    font-size: clamp(0px, 6vw, 72px);
}

.toptitle{
    grid-column: 1/-1;
}

.logobox{
    display: grid;
    width: fit-content;
}

.logo, .hlogo{
    display: flex;
    height: clamp(0px, 8vw, 80px);
    width: auto;
    grid-area: 1/1;
    transition: opacity 200ms, transform 200ms;
    cursor: pointer;
}

.hlogo{
    opacity: 0%;
}

.logobox:hover .logo{
    z-index: -1;
    opacity: 0%;
}

.logobox:hover .hlogo{
    z-index: 1;
    opacity: 100%;
    transform: scale(1.06);
}

.rightcentered{
  margin-left: auto;
}

/* MAP */

.svgbox{
    align-self: top;
    grid-column: 1/-1;
    grid-row: 3;    
    max-width: 100vw;
    max-height: 680px;
    margin-bottom: 70px;
}

.svgsmall{
    max-width: 100%;
    height: 100%;
}

.state{
    cursor: pointer;
}

.hvs{
    display: grid;
}

.hv{
    transition: opacity 100ms;
    opacity: 0;
}

.og{
    grid-area: 1/1;
    z-index: 1;
}

.hv, .hvs:hover .og{
    grid-area: 1/1;
    z-index: 0;
}

.hvs:hover .hv{
    grid-area: 1/1;
    z-index: 1;
    opacity: 1;
}

/* STATE POPUPS */

.statebox{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 300ms;
}

.statebox.active{
    opacity: 100%;
    pointer-events: all;
    backdrop-filter: blur(5px);
}

.texas, .cali{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    overflow: visible;
}

.texas{
    transform: translate(-25px);
}

.texas g, .cali g{
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.texas g{
    font-family: 'Texas Tango', serif;
}

.texas g:hover{
    fill: red;
}

.cali g{
    font-family: 'California', serif;
    letter-spacing: 2px;
}

.cali g:hover{
    fill: red;
}

.x{
    stroke: white;
    stroke-width: 10px;
    stroke-linecap: round;
    transition: 200ms;
    cursor: pointer;
}

.x:hover{
    stroke: red;
    stroke-linecap: square;
    stroke-width: 20px;    
}

/* MONTAGES */

.montages{
    position: relative;
    height: fit-content;
    background-color: black;
    overflow: hidden;
    border-top: black 10px;
    border-top-style: solid;
}

.bannerbox{  
    display: flex; 
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 40%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.banner{
    height: 120%;
    animation: bgscroll linear;
    animation-timeline: scroll(root);
    animation-range: entry 0% exit 100%;
    animation-fill-mode: both;
}

.montagebox{
    box-sizing: border-box;
    padding: 25px;
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-self: center;
    max-width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
    margin-bottom: 70px;
}

.montbox{
    display: grid;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    max-width: 450px;
    z-index: 1;
}

.ytvid{
    opacity: 0;
}

.ytvid, .montbox:hover .montn{
    z-index: 0;
}

.montn, .montbox:hover .ytvid{
    z-index: 1;
    opacity: 1;
}

.montn, .ytvid{
    aspect-ratio: 16 / 9;
    width: 100%;
    grid-area: 1/1;
    transition: opacity 250ms;
}

/* MENU */

.menu{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    margin-bottom: 25px;
}

.menugrid{
    display: grid;
}

.colorbox{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    grid-area: 1/1;
    z-index: 0;
    border-radius: 25px;
    border: 1.5px solid black;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.8);
}

.menubox{
    grid-area: 1/1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    z-index: 1;
}

.menutext, .menutext:hover, .menuon{
    padding: 10px;
    font-size: 15;
    white-space: nowrap;
    font-family: Verdana, Geneva, sans-serif;
    border: 1.5px;
}

.menutext{
    position: relative;
    color: white;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}

.menutext:hover{
    border: 1.5px solid red;
}

.menuon{
    border: solid rgba(0, 0, 0, 0);
    cursor: pointer;
    color: red;
    border-radius: 25px;
}

.menutext:hover{
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.home:hover, .hmenu:hover > .home, .cmenu:hover > .college, .tmenu:hover > .travel{
    opacity: 1;
    pointer-events: all;
}

.home, .college, .travel{
    position: absolute;
    left: 50%;
    height: 100px;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
}

.home, .travel{
    transform: translate(-50%, -122px);
}

.college{
    transform: translate(-50%, -169px);
    height: 150px;    
}

.homegrid, .collegegrid, .travelgrid{
    display: grid;
    justify-items: center;
    row-gap: 5px;
}

.homegrid{
    grid-template-rows: auto auto;
}

.collegegrid{
    grid-template-rows: auto auto auto;
}

.travelgrid{
    grid-template-rows: auto auto auto;
}

.menuitem{
    color: white;
    padding: 10px;
    border: solid 1.5px black;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 250ms;
}

.menuitem:hover{
    color: red;
    border: solid 1.5px red;
}