/* OVERALL */

body{
    margin: 0px;
}

@font-face {
    font-family: 'Kelly';
    src: url(Fonts/KellySlab-Regular.ttf);
}

@font-face {
    font-family: 'Texas Tango';
    src: url(Fonts/TEXAT\ BOLD\ PERSONAL\ USE___.otf);
}

@font-face {
    font-family: 'California';
    src: url(Fonts/California\ by\ Dirt2.otf);
}

@font-face {
    font-family: 'Merica';
    src: url(Fonts/Merica.ttf);
}

@font-face {
    font-family: 'Spanish';
    src: url(Fonts/Spanish\ Round\ Bookhand\,\ 16th\ c.TTF);
}

@font-face {
    font-family: 'ArabN';
    src: url(Fonts/ArabianNight-CommercialUsed.otf);
}

@font-face {
    font-family: 'ArabM';
    src: url(Fonts/Arabic\ Magic.ttf);
}

@font-face {
    font-family: 'Island';
    src: url(Fonts/CARIB___.otf);
}

@keyframes bgscroll{
    from{
        transform: translateY(calc(-1 * var(--scroll) / 15));
    }
    to{
        transform: translateY(0);
    }
}

@keyframes globespin{
    to{
        transform: translateX(152.245px);
    }
}

h1{
    margin: 0px; 
    font-family: Consolas, monaco, monospace;
    font-weight: 100;
    color: white;
    white-space: nowrap;
}

h3{
    margin-top: 30px;
    margin-bottom: 0px; 
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;  
    color: hsl(0, 0%, 80%);      
}

/* INTROBOX */

.introbox{
    display: flex;
    position: relative;
    justify-content: center;
    height: min-content;
    overflow: hidden;
}

.vidbox{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: 8B0000;
    overflow: hidden;
    z-index: -1;
}

.bgvid{
    height: auto;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    opacity: 25%;
}

.title{
    display: grid;
    grid-template-columns: auto min-content auto;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 1vw;
    overflow: visible;
    max-width: 100%;
}

.toptitle, .titletext{
    display: flex;
    justify-self: center;
    align-self: center;
}

.toptitle{
    font-size: clamp(0px, 1.5vw, 15px);
}

.titletext{
    font-size: clamp(0px, 6vw, 72px);
}

.toptitle{
    grid-column: 1/-1;
}

.logobox{
    display: grid;
    width: fit-content;
}

.logo, .hlogo{
    display: flex;
    height: clamp(0px, 8vw, 80px);
    width: auto;
    grid-area: 1/1;
    transition: opacity 200ms, transform 200ms;
    cursor: pointer;
}

.hlogo{
    opacity: 0%;
}

.logobox:hover .logo{
    z-index: -1;
    opacity: 0%;
}

.logobox:hover .hlogo{
    z-index: 1;
    opacity: 100%;
    transform: scale(1.06);
}

.rightcentered{
  margin-left: auto;
}

/* MAP */

.svgbox{
    display: grid;    
    position: relative;
    align-self: top;
    grid-column: 1/-1;
    grid-row: 3;
    max-width: 100vw;
    max-height: 670px;
    margin: 0px 10px 70px;
}

#usa{
    justify-self: center;
    grid-area: 1/1;
    opacity: 0%;
    pointer-events: none;
    transition: transform 500ms linear, opacity 500ms;
    width: 100%;
    height: 100%;
}

#world{
    position: relative;    
    justify-self: center;
    grid-area: 1/1;
    opacity: 0%;
    pointer-events: none;
    transition: transform 500ms linear, opacity 500ms;    
    width: 100%;
    height: 100%;
}

.globe{
    position: absolute;
}

.ctry{
    fill: black;
    transition: 100ms;
}
.ctry:hover{
    fill: white;
}

.ctry rect{
    fill: white;
    transition: 100ms;
}

.ctry:hover rect{
    fill: black;
}

#globecut, #circle{
    border-style: solid;
}

#world.active, #usa.active{
    opacity: 100%;
    pointer-events: all;
    transform: scale(1);
}

#usab, #worldb, .hvs, .ctry{
    cursor: pointer;
}

#usab{
    font-family: 'Merica';
}

#spainb{
    font-family: 'Spanish';
}

#saudib, #bahrainb{
    font-family: 'ArabN';
}

#bahrainb{
    letter-spacing: 3px;
}

#luciab{
    font-family: 'Island';
}

.chv{
    transition: opacity 100ms;
    opacity: 0;
}

.ctry:hover .cog{
    transition: opacity 500ms;
    opacity: 0;
}

.ctry:hover .chv, .cog{
    opacity: 1;
}

.state{
    pointer-events: none;
}

.hv{
    transition: opacity 100ms;
    opacity: 0;
}

.hvs:hover .og{
    transition: opacity 500ms;
    opacity: 0;
}

.hvs:hover .hv, .og{
    opacity: 1;
}

#globestroke{
    stroke: black;
    stroke-width: 5px;
    transition: stroke 500ms;
}

#worldb:hover #globestroke{
    stroke: white;
    stroke-width: 5px;
}

#worldb image{
    pointer-events: none;
}

#worldb:hover image{
    animation: globespin 1500ms linear;
    animation-iteration-count: infinite;
}

#globetxt{
    font-family: Verdana, Geneva, sans-serif;
    fill: white;
    font-size: 20px;
    text-align: center;
    opacity: 0%;
    transform: translateY(2%);
    transition: opacity 100ms, transform 500ms;
    pointer-events: none;
}

#worldb:hover #globetxt{
    opacity: 100%;
    transform: translateY(0%);
    transition: opacity 500ms, transform 500ms;
}

/* STATE POPUPS */

.statebox, .citybox{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 300ms;
}

.statebox{
    background-color: rgba(0, 0, 0, .5);
}

.statebox.active{
    opacity: 100%;
    pointer-events: all;
    backdrop-filter: blur(5px);
}

.citybox.active{
    opacity: 100%;
    pointer-events: all;
    backdrop-filter: blur(2px);
}

.cityvlogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title title title";
    max-width: 1000px;
    grid-column-gap: min(2vw, 20px);
    grid-row-gap: min(1.5vw, 15px);
    justify-content: center;
    border-radius: min(5vw, 50px);
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 15px 10px rgb(0, 0, 0, .75);
    margin: 3vw;
    padding: min(1.5vw, 15px) min(3vw, 25px) min(3vw, 25px) min(3vw, 25px);
    font-size: clamp(16px, 5vw, 50px);
    font-family: "Kelly", sans-serif;
}

.citytitle{
    grid-area: title;
    margin: 0;
    justify-self: center;
    font-weight: 100;
    color: white;
    white-space: nowrap;
    height: fit-content;
}

.cityvlog1, .cityvlog2{
    display: grid;
    grid-template-rows: auto auto;
    border-style: solid;
    border-width: min(0.45vw, 5px);
    border-color: black;
    padding: min(1vw, 10px);
    z-index: 1;
    overflow: hidden;
    justify-items: center;
}

.cityvlog1{
    grid-row: 2;
}

.cityvlog2{
    margin-top: min(0.5vw, 5px);
    grid-row: 3;
}

.cvlogodd{
    transform: translateX(calc(50% + min(1vw, 10px)));
}

.cvlogt{
    grid-area: 1/1;
    display: flex;
    font-size: clamp(10px, 2.5vw, 30px);
    transform: translateY(-5%);
    opacity: 0%;
    transition: opacity 250ms;
}

.citnbox{
    grid-area: 1/1;
    display: grid;
    transition: transform 200ms;
    transform: scale(1);
    z-index: 1;
}

.citn{
    grid-area: 1/1;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.citn2a1.down, .citn2a2.down, .citn5a1.down, .citn5a2.down, .citn5a3.down, .citn5a4.down, .citn5a5.down{
    transform: translateY(110%);
    transition: 1s;
}

.citna1.up, .citna2.up, .citn5a1.up, .citn5a2.up, .citn5a3.up, .citn5a4.up, .citn5a5.up{
    transform: translateY(0%);
    transition: 0s;
}

.cityvlog1:hover .citnbox, .cityvlog2:hover .citnbox{
    transform: scale(0.8) translateY(11%);
}

.cityvlog1:hover .cvlogt, .cityvlog2:hover .cvlogt{
    opacity: 100%;
}

.cityx{
    grid-column-start: 3;
    grid-row-start: 1;
    margin-left: auto;
    transform: translateX(min(1vw,10px));
    height: 0.75em;
    width: 0.75em;
}

.texas, .cali{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    overflow: visible;
}

.texas{
    transform: translate(-25px);
}

.texas g, .cali g{
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.texas g{
    font-family: 'Texas Tango', serif;
}

.texas g:hover{
    fill: red;
}

.cali g{
    font-family: 'California', serif;
    letter-spacing: 2px;
}

.cali g:hover{
    fill: red;
}

.sx.active, .cx.active{
    stroke: white;
    stroke-width: 10px;
    stroke-linecap: round;
    transition: 200ms;
    cursor: pointer;
}

.sx:hover, .cx:hover{
    stroke: red;
    stroke-linecap: square;
    stroke-width: 20px;    
}

/* MONTAGES */

.montages{
    position: relative;
    height: fit-content;
    background-color: black;
    overflow: hidden;
    border-top: black 10px;
    border-top-style: solid;
}

.bannerbox{  
    display: flex; 
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 40%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.banner{
    height: 120%;
    animation: bgscroll linear;
    animation-timeline: scroll(root);
    animation-range: entry 0% exit 100%;
    animation-fill-mode: both;
}

.montagebox{
    padding: 25px;
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    max-width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
    margin-bottom: 70px;
}

.montbox{
    display: grid;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    max-width: 450px;
    z-index: 1;
}

.ytvid, .citvid{
    opacity: 0;
}

.ytvid, .montbox:hover .montn{
    z-index: 0;
}

.montn, .montbox:hover .ytvid{
    z-index: 1;
    opacity: 1;
}

.montn, .ytvid{
    aspect-ratio: 16 / 9;
    width: 100%;
    grid-area: 1/1;
    transition: opacity 250ms;
}

/* MENU */

.menu{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    margin-bottom: 25px;
}

.menugrid{
    display: grid;
}

.colorbox{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    grid-area: 1/1;
    z-index: 0;
    border-radius: 25px;
    border: 1.5px solid black;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.8);
}

.menubox{
    grid-area: 1/1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    z-index: 1;
}

.menutext, .menutext:hover, .menuon{
    padding: 10px;
    font-size: 15;
    white-space: nowrap;
    font-family: Verdana, Geneva, sans-serif;
    border: 1.5px;
}

.menutext{
    position: relative;
    color: white;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}

.menutext:hover{
    border: 1.5px solid red;
}

.menuon{
    border: solid rgba(0, 0, 0, 0);
    cursor: pointer;
    color: red;
    border-radius: 25px;
}

.menutext:hover{
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.home:hover, .hmenu:hover > .home, .cmenu:hover > .college, .tmenu:hover > .travel{
    opacity: 1;
    pointer-events: all;
}

.home, .college, .travel{
    position: absolute;
    left: 50%;
    height: 100px;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
}

.home, .travel{
    transform: translate(-50%, -122px);
}

.college{
    transform: translate(-50%, -169px);
    height: 150px;    
}

.homegrid, .collegegrid, .travelgrid{
    display: grid;
    justify-items: center;
    row-gap: 5px;
}

.homegrid{
    grid-template-rows: auto auto;
}

.collegegrid{
    grid-template-rows: auto auto auto;
}

.travelgrid{
    grid-template-rows: auto auto auto;
}

.menuitem{
    color: white;
    padding: 10px;
    border: solid 1.5px black;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 250ms;
}

.menuitem:hover{
    color: red;
    border: solid 1.5px red;
}