/* OVERALL */

body{
    margin: 0px;
    background-color: black;
}

.line{
    stroke: rgb(0, 255, 0);
    stroke-width: 1.5;
}

@font-face {
    font-family: 'Kelly';
    src: url(Fonts/KellySlab-Regular.ttf);
}

@font-face {
    font-family: 'Texas Tango';
    src: url(Fonts/TEXAT\ BOLD\ PERSONAL\ USE___.otf);
}

@font-face {
    font-family: 'California';
    src: url(Fonts/California\ by\ Dirt2.otf);
}

@font-face {
    font-family: 'Merica';
    src: url(Fonts/Merica.ttf);
}

@font-face {
    font-family: 'Spanish';
    src: url(Fonts/Spanish\ Round\ Bookhand\,\ 16th\ c.TTF);
}

@font-face {
    font-family: 'ArabN';
    src: url(Fonts/ArabianNight-CommercialUsed.otf);
}

@font-face {
    font-family: 'ArabM';
    src: url(Fonts/Arabic\ Magic.ttf);
}

@font-face {
    font-family: 'Island';
    src: url(Fonts/CARIB___.otf);
}

@font-face{
    font-family: 'Digital';
    src: url(Fonts/digital-7.ttf);
}

@font-face{
    font-family: 'Place';
    src: url(Fonts/Chantal\ Medium\ Italic.ttf);
}

@font-face{
    font-family: 'Kellysub';
    src: url(Fonts/Caudex-Regular.ttf);
}

@keyframes bgscroll{
    from{
        transform: translateY(calc(-1 * var(--scroll) / 15));
    }
    to{
        transform: translateY(0);
    }
}

@keyframes globespin{
    to{
        transform: translateX(152.245px);
    }
}

@keyframes blinker{
    0%, 66.66%{
        background-color: rgb(0, 0, 0, 0);
        color: rgba(0, 255, 255);
    }
    33.33%, 100%{
        background-color: rgba(0, 255, 255, 0.2);
        color: white;
    }
}

h1{
    margin: 0px; 
    font-family: Consolas, monaco, monospace;
    font-weight: 100;
    color: white;
    white-space: nowrap;
    font-size: clamp(0px, 6vw, 72px);
}

h3{
    margin-top: 30px;
    margin-bottom: 0px; 
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;  
    color: hsl(0, 0%, 80%);  
    font-size: clamp(0px, 1.5vw, 15px);
    grid-column: 1/-1;
}

h1, h2, h3{
    display: flex;
    justify-self: center;
    align-self: center;
}

/* INTROBOX */

.introbox{
    display: flex;
    position: relative;
    justify-content: center;
    height: min-content;
    overflow: hidden;
}

.vidbox{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: 8B0000;
    overflow: hidden;
    z-index: -1;
}

.bgvid{
    height: auto;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    opacity: 25%;
}

.title{
    display: grid;
    grid-template-columns: auto min-content auto;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 1vw;
    overflow: visible;
    max-width: 100%;
}

.logobox{
    display: grid;
    width: fit-content;
}

.logo, .hlogo{
    display: flex;
    height: clamp(0px, 8vw, 80px);
    width: auto;
    grid-area: 1/1;
    transition: opacity 200ms, transform 200ms;
    cursor: pointer;
}

.hlogo{
    opacity: 0%;
}

.logobox:hover .logo{
    z-index: -1;
    opacity: 0%;
}

.logobox:hover .hlogo{
    z-index: 1;
    opacity: 100%;
    transform: scale(1.06);
}

.rightcentered{
  margin-left: auto;
}

/* MAP */

.svgbox{
    display: grid;    
    position: relative;
    grid-column: 1/-1;
    grid-row: 3;
    max-width: 100vw;
    max-height: 670px;
    margin: 0px 10px 70px;
}

#usa{
    justify-self: center;
    grid-area: 1/1;
    opacity: 0;
    pointer-events: none;
    transition: transform 300ms, opacity 300ms;
    transform: translate(-28%, max(-5%, -1.5vw)) scale(0.2);
    z-index: 0;
    width: 100%;
    height: 100%;
}

#world{
    position: relative;
    grid-area: 1/1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
    will-change: transform, opacity;
    width: 100%;
    height: 98%;
    margin-top: 20px;
}

.ctry{
    fill: black;
    transition: 100ms;
}
.ctry:hover{
    fill: white;
}

.ctry rect{
    fill: white;
    transition: 100ms;
}

.ctry:hover rect{
    fill: black;
}

#globecut, #circle{
    border-style: solid;
}

#world.active, #usa.active{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

#usab, #worldb, .hvs, .ctry{
    cursor: pointer;
}

#usab{
    font-family: 'Merica';
}

#usa48{
    transform: translate(167%, 37%) scaleX(4.25) scaleY(5);
    transition: transform 300ms;
    will-change: transform;
    transform-origin: center center;
    transform-box: fill-box;
}

#world.active #usa48{
    transform: scale(1);
}

#spainb{
    font-family: 'Spanish';
}

#saudib, #bahrainb{
    font-family: 'ArabN';
}

#bahrainb{
    letter-spacing: 3px;
}

#luciab{
    font-family: 'Island';
}

.chv{
    transition: opacity 100ms;
    opacity: 0;
}

.ctry:hover .cog{
    transition: opacity 500ms;
    opacity: 0;
}

.ctry:hover .chv, .cog{
    opacity: 1;
}

.state, .cog, .chv{
    pointer-events: none;
}

.hv{
    transition: opacity 100ms;
    opacity: 0;
}

.hvs:hover .og{
    transition: opacity 500ms;
    opacity: 0;
}

.hvs:hover .hv, .og{
    opacity: 1;
}

#globestroke{
    stroke: black;
    stroke-width: 5px;
    transition: stroke 500ms;
}

#worldb:hover #globestroke{
    stroke: white;
    stroke-width: 5px;
}

#worldb image{
    pointer-events: none;
}

#worldb:hover image{
    animation: globespin 1500ms linear;
    animation-iteration-count: infinite;
}

#globetxt{
    font-family: Verdana, Geneva, sans-serif;
    fill: white;
    font-size: 20px;
    text-align: center;
    opacity: 0%;
    transform: translateY(2%);
    transition: opacity 100ms, transform 500ms;
    pointer-events: none;
}

#worldb:hover #globetxt{
    opacity: 100%;
    transform: translateY(0%);
    transition: opacity 500ms, transform 500ms;
}

/* STATE POPUPS */

.statebox, .citybox{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0;
    pointer-events: none;
}

.statebox{
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 300ms;
}

.citybox{
    transition: opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.statesvg{
    transition: 250ms ease-out;
    transform: scale(0.3);
    will-change: transform;
}

.statebox.active .statesvg{
    transform: scale(1);
}

.disappear{
    opacity: 0;
    scale: 2.5;
    transition: transform opacity 250ms ease-out;
}

.statebox.active{
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(5px);
}

.citybox.active{
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, .4);
}

.cityvlogs, .cityvlogseven{
    display: grid;
    grid-column-gap: min(2vw, 20px);
    grid-row-gap: min(1.5vw, 15px);
    border-radius: min(5vw, 50px);
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 15px 10px rgb(0, 0, 0, .75);
    padding: min(1.5vw, 15px) min(3vw, 25px) min(3vw, 25px) min(3vw, 25px);
    font-size: min(4.4vw, 50px);
    font-family: "Kelly", sans-serif;
    transform: translateY(100%);
    transition: transform 300ms;
}

.citybox.active .cityvlogs, .citybox.active .cityvlogseven{
    transform: translateY(0);
}

.cityvlogs{
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title title title";
    margin: 3vw;
}

.cityvlogseven{
    max-width: 660px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title title";
    margin: 15vw;
}

.citytitle{
    grid-area: title;
    margin: 0;
    justify-self: center;
    color: white;
    white-space: nowrap;
    height: fit-content;
}

.titleflip{
    opacity: 0;
    animation: titleflip 1500ms 100ms forwards;
    will-change: transform;
}

@keyframes titleflip{
    0%{
        opacity: 0;
        transform:rotateX(0deg);
    }
    40%{
        transform:rotateX(400deg);
    }
    100%{
        opacity: 1;
        transform:rotateX(360deg);
    }
}

.cityvlog1, .cityvlog2{
    display: grid;
    grid-template-rows: auto auto;
    border: solid black min(0.45vw, 5px);
    padding: min(1vw, 10px);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: white;
    justify-items: center;
}

.cityvlog1{
    grid-row: 2;
}

.cityvlog2{
    margin-top: min(0.5vw, 5px);
    grid-row: 3;
}

.cvlogeven{
    transform: translateX(calc(50% + min(1vw, 10px)));
}

.cvlogt{
    grid-area: 1/1;
    display: flex;
    font-size: min(2.6vw, 30px);
    transform: translateY(-6%);
    opacity: 0;
    transition: opacity 250ms;
    will-change: opacity;
}

.citnbox{
    grid-area: 1/1;
    display: grid;
    transition: 200ms;
    will-change: transform, box-shadow;
    transform: scale(1);
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 0 min(0.3vw, 3px) black;
}

.cityvlog1:hover .citnbox, .cityvlog2:hover .citnbox{
    box-shadow: 0 0 0 min(0.3vw, 3px) white;
    transform: scale(0.8) translateY(11%);
}

.cityvlog1:hover .cvlogt, .cityvlog2:hover .cvlogt{
    opacity: 1;
}

.playlist{
    stroke: rgb(255, 255, 255);
    stroke-width: 5px;
    z-index: 1;
    grid-area: 1/1;
    width: 15%;
    height: auto;
    align-self: end;
    justify-self: right;
    backdrop-filter: blur(2px);
    margin: 5px;
    transition: 200ms;
}

.cityvlog1:hover .playlist, .cityvlog2:hover .playlist{
    stroke: black;
}

.svgoutline, .playlistbox{
    stroke: rgb(0, 0, 0);
    stroke-width: 7px;
    transition: 200ms;
}

.svgoutline{
    fill: white;
}

.cityvlog1:hover .citnbox .svgoutline, .cityvlog2:hover .citnbox .svgoutline{
    fill: black;
    stroke: white;
}

.circles{
    z-index: 1;
    grid-area: 1/1;
    height: 90%;
    aspect-ratio: 16 / 9;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.circles>svg{
    width: 5%;
}

.circle{
    stroke: rgb(0, 0, 0);
    stroke-width: 7px;
    fill: rgba(255, 255, 255, 0.2);
}

@keyframes circleon{
    0%, 100%{
        stroke: rgb(0, 0, 0);
        stroke-width: 7px;
        fill: rgba(255, 255, 255, 0.2);
    }
    10%, 90%{
        stroke: rgb(255, 255, 255);
        stroke-width: 7px;
        fill: rgba(0, 0, 0, 0.7);
    }
}

.fcircleon{
    animation: circleon 2000ms;
}

.circleon{
    animation: circleon 4300ms;
}

.citnbox>img{
    grid-area: 1/1;
    aspect-ratio: 16 / 9;
    width: 100%;
}

@keyframes tncycle {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-110%);
    }
}

.tncycle{
    animation: tncycle 500ms ease-in;
}

.cityx, .cityxeven{
    grid-row-start: 1;
    margin-left: auto;
    transform: translateX(min(1vw,10px));
    height: 0.75em;
    width: 0.75em;
}

.cityx{
    grid-column-start: 3;
}

.cityxeven{
    grid-column-start: 2;
}

.statesvg{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    overflow: visible;
}

.statesvg a{
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.texas a{
    font-family: 'Texas Tango', serif;
}

.texas a:hover{
    fill: red;
}

.cali a{
    font-family: 'California', serif;
    letter-spacing: 2px;
}

.cali a:hover{
    fill: red;
}

.sx.active, .cx.active{
    stroke: white;
    stroke-width: 10px;
    stroke-linecap: round;
    transition: 200ms;
    cursor: pointer;
}

.sx:hover, .cx:hover{
    stroke: red;
    stroke-linecap: square;
    stroke-width: 20px;    
}

/* MONTAGES */

.montages{
    position: relative;
    height: fit-content;
    background-color: black;
    overflow: hidden;
    border-top: black 10px;
    border-top-style: solid;
}

.bannerbox{  
    display: flex; 
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 40%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.banner{
    height: 120%;
    animation: bgscroll linear;
    animation-timeline: scroll(root);
    animation-range: entry 0% exit 100%;
    animation-fill-mode: both;
}

.montagebox{
    padding: 25px;
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    max-width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
    margin-bottom: 70px;
}

.montbox{
    display: grid;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    max-width: 450px;
    z-index: 1;
}

.ytvid, .citvid{
    opacity: 0;
}

.ytvid, .montbox:hover .montn{
    z-index: 0;
}

.montn, .montbox:hover .ytvid{
    z-index: 1;
    opacity: 1;
}

.montn, .ytvid{
    aspect-ratio: 16 / 9;
    width: 100%;
    grid-area: 1/1;
    transition: opacity 250ms;
}

/* MENU */

.menu{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    margin-bottom: 25px;
}

.menugrid{
    display: grid;
}

.colorbox{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    grid-area: 1/1;
    z-index: 0;
    border-radius: 25px;
    border: 1.5px solid black;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.8);
}

.menubox{
    grid-area: 1/1;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    z-index: 1;
}

.menutext, .main, .mmenutext{
    padding: 10px;
    font-size: 15px;
    white-space: nowrap;
    font-family: Verdana, Geneva, sans-serif;
    border: 1.5px;
    position: relative;
    color: white;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
    text-decoration: none;
}

.menukey{
    text-decoration: underline;
}

@media screen and (orientation: portrait){
    .menutext, .main, .mmenutext{
        font-size: 3vw;
    }
}

.menutext:hover, .mmenutext:hover, .tmenu.menuactive, .hmenu.menuactive, .cmenu.menuactive{
    border: 1.5px solid red;
    border-radius: 25px;
}

.main, .menuon, .mmenutext:hover{
    color: red;
}

.submenu:hover, .cmenu:hover > .submenu, .tmenu:hover > .submenu, .hmenu:hover > .submenu,
.tmenu.menuactive > .submenu, .hmenu.menuactive > .submenu, .cmenu.menuactive > .submenu{
    opacity: 1;
    pointer-events: all;
}

.submenu{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    height: fit-content;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
}

@media screen and (orientation: portrait){
    .submenu{
        bottom: 2.5vw;
    }
}

.itemgrid{
    display: grid;
    justify-items: center;
    row-gap: 5px;
    grid-template-rows: auto auto auto;
}

.itemgrid a, .menuitemon{
    padding: 10px;
    border: solid 1.5px black;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 250ms;
}

.itemgrid div{
    height: 40px;
    width: 100px;
}

.itemgrid a{
    color: white;
    text-decoration: none;
}

#menuitemon{
    color: red;
    border: solid 1.5px black;
}

.itemgrid a:hover{
    color: red;
    border: solid 1.5px red;
}

/* LOADING SCREEN */

@keyframes backload{
    0%{
        background-color: rgb(100, 0, 0);
    }
    50%{
        background-color: rgb(0, 0, 0);
    }
    100%{
        background-color: rgb(100, 0, 0);
    }
}

.loading{
    margin: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.loadingbg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    animation: backload 5000ms linear infinite;
}

@keyframes fadeaway{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.fadeaway{
    animation: fadeaway 500ms;
    opacity: 0;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes picload {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loadpicbox, .loadtitle{
    animation: fadein 500ms;
}

.loadpicbox{
    display: grid;
    height: 100%;
    align-items: center;
}

.loadpic{
    height: 20%;
    animation: picload 1100ms linear infinite;
    position: relative;
    grid-area: 1/1;
}

.loadring{
    height: 20%;
    grid-area: 1/1;
}

/* Vlog Pages */

.vbg{
    position: fixed;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 60%;
    z-index: -1;
}

.vtitle, .loadtitle{
    display: flex;
    position: relative;
    margin-top: 30px;
    justify-content: center;
    height: 75px;
    vertical-align: top;
    font-family: 'Kelly';
    font-size: min(8vw, 75px);
    color: white;
}

.loadtitle{
    position: absolute;
    top: 0;
}

.vsubtitle{
    margin-left: min(0.5vw, 5px);
    font-size: min(1.9vw, 18px);
    font-family: 'Kellysub';
}

.vlist{
    margin-top: calc(53.5vh - min(6.3vw, 60px));
    margin-bottom: 10vh;
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    flex-direction: column;
}

.vitem{
    display: flex;
    margin-top: min(6.3vw, 60px);
    width: min(80%, 750px);
    height: 100%;
}

.vdate{
    position: absolute;
    font-family: 'Digital';
    font-size: min(20px, 2.2vw);
    width: fit-content;
    text-align: right;
    transform: translateX(-110%);
}

.vyear{
    font-size: min(50px, 5.5vw);
}

.vmonth{
    margin-top: min(0.5vw, 5px);
}

.vplace{
    display: flex;
    width: 3.5%;
    background-color: rgba(0, 255, 255, 0.4);
    border: solid black min(0.7vw, 5px);
    border-right: 0px;
    align-items: center;
}

.vplacetxt{
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    width: 100%;
    font-family: 'Place';
    font-size: min(2vw,18px);
    white-space: nowrap;
}

.vbox{
    display: flex;
    padding: 2.5%;
    backdrop-filter: blur(15px);
    border: solid black min(0.7vw, 5px);
    border-left: 0px;
    width: 100%;
    aspect-ratio: 750/200;
    font-family: 'Kelly';
    font-size: min(3.2vw, 30px);
    justify-content: space-between;
}

.vvlogbox{
    display: grid;
    width: 46%;
    aspect-ratio: 16/9;
    align-items: top;
    justify-items: left;
}

.vdesc, .vpic, .vvid{
    grid-area: 1/1;
}

.vpic, .vvid{
    width: 100%;
    height: 100%;
    border: solid black min(0.7vw, 5px);
    box-sizing: border-box;
    transition: opacity 250ms;
}

.vvid{
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
}

.vdesc{
    margin-top: min(8.5vw, 80px);
    font-size: min(1.6vw, 15px);
    font-family: Consolas, monaco, monospace;
    transition: transform 300ms;
    z-index: -1;
    pointer-events: none;
}

.vitem:hover .vdesc, .blink .vdesc{
    transform: translateX(max(-37.3vw, -360px));
}

.vvid{
    opacity: 0;
}

.vvlogbox:hover .vvid{
    opacity: 1;
}

.blink{
    animation: blinker 1.5s;
    background-color: rgba(0, 255, 255, 0.2);
}